

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');


/*colores*/
$sl-bluepurple: #adbaff;
$sl-verde:#41f750;
$sl-red: #eb6048;
$sl-orage: #EBB948;
$sl-salmon: #ff9675;
$sl-salmonlight: #ffbb90;
$sl-oxford: #04132F;
$sl-blanco: #ffff;
$sl-oldlace: #fff6e7;
$sl-seashell: #fff1e8;
/*fuente*/
$tp-roboto:'Roboto';
$tp-playfair:"Playfair Display";